<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maşın Detalları</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-5 text-center">{{ car.name }}</h1>
        
        <!-- Image Section -->
        <div class="text-center mb-4">
            {% if car.image and car.image.url %}
                <img src="{{ car.image.url }}" alt="{{ car.name }}" class="img-fluid mb-4">
            {% else %}
                <img src="https://via.placeholder.com/400x300" alt="No Image" class="img-fluid mb-4">
            {% endif %}
        </div>

        <!-- Car Details -->
        <p class="listing-price">Qiymət: {{ car.price }} AZN</p>
        <p class="listing-description">{{ car.description }}</p>
        
        <!-- Back Button -->
        <a href="{% url 'home' %}" class="btn btn-secondary">Geri</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
